<div class="footer">
	<div class="left-side">
		<ul>
			<li>
				<a href="www.google.com">Privacy Policy</a>
			</li>
			<li>
				<a href="www.google.com">Terms of use</a>
			</li>
			<li>
				<a href="www.google.com">Sitemap</a>
			</li>
			<li>
				<a href="www.google.com">Mobile Site</a>
			</li>
		</ul>
		<br>
		<div class="copyright">
			Copyright &copy; All rights reserved
		</div>
	</div>
	<div class="right-side">
		<ul>
			<li>
				<a href="www.google.com">About us</a>
			</li>
			<li>
				<a href="www.google.com">Blog</a>
			</li>
			<li>
				<a href="www.google.com">Careers</a>
			</li>
			<li>
				<a href="www.google.com">Press</a>
			</li>
			<li>
				<a href="www.google.com">Advertise</a>
			</li>
		</ul>
	</div>

</div>
