<div class="header">
	<div class="main-link left-side">
		<a href="index">
			AppName
		</a>
	</div>
	<div class="right-side">
		<ul>
			<li>
				<a href="">
					Home
				</a>
			</li>
			<li>
				<a href="" class="active">
					Restaurants
				</a>
			</li>
			<li>
				<a href="">
					Login
				</a>
			</li>
		</ul>
	</div>
</div>